.ios, .md {
	/* ---- HEADER ---- */
	page-login{
		.toolbar-background{
		  background-color: white;
		  border: none!important;
		}

		.toolbar-title{
		  font-size: 20px;
		  white-space: normal;
		  text-align: center;
		  font-weight: 700;
    	color: #cc0000;
		}

		.bar-button-default-ios{
		  color: black;
		}
		
		.header{
	    border-bottom: 2px solid #e4e4e4;
	    padding: 20px 0;
   	  min-height: 85px;
		}
		
		.scroll-content{
	    margin-top: 85px;
		}
	}
	
  page-login{

	  ion-content {
	      background-color: white;
	  }

	  scroll-content {
	      display: flex;
	      flex-direction: column;
	  }

	  ion-row {
	      align-items: center;
	      text-align: center;
	  }

	  ion-item {
			width: 90%;
			margin: auto;
			padding: 5px 0;
      padding-left: 15px !important;
      margin-bottom: 15px;
      background-color: white;
      font-size: 0.9em;
			border: 1px solid black!important;
	  }

	  ion-list {
	      margin: 0!important;
				margin-top: 20px!important;
	  }

	  ion-icon {
	    font-size: 1.7em;
			padding-left: 2px;
	  }

	  .login-logo {
      flex: 2;
	  }

	  .login-form {
	      flex: 1;
	  }

	  .login-button {
	    width: 90%;
	    margin: auto;
	    padding: 20px 0;
	    font-size: 15px;
	    border: 1px solid black;
	    background-color: #03bd03;
	    color: white;
	  }
		
		.titolo-login{
	    text-align: center;
	    font-size: 20px;
	    font-weight: 500;
	    padding-top: 20px;
		}

  }
 
}