<ion-header>
	  <ion-navbar>
	    <ion-title *ngIf="showStaticPart">
	      APP FERRAMENTA
	    </ion-title>
	  </ion-navbar>
</ion-header>
 
<ion-content>
 	<h2 class="titolo-login" *ngIf="showStaticPart">Maschera di accesso</h2>
  <ion-row class="login-form" *ngIf="showStaticPart">
    <ion-col>
      <ion-list inset>
        <ion-item>
          <ion-label><ion-icon ios="ios-person-outline" md="md-person"></ion-icon></ion-label>
          <ion-input [(ngModel)]="userName" placeholder="Nome Utente" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="lock"></ion-icon></ion-label>
          <ion-input [(ngModel)]="password" placeholder="Password" type="password"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button full (click)="login()" color="primary" class="login-button">ACCEDI</button>
    </ion-col>
  </ion-row>
</ion-content>