page-measure {
	.back-button{
		color:black!important;
	}	
	
	.log-out-button{
		line-height: 25px;
		background-color: rgba(0, 159, 227, 0.8);
		color: white;
		font-size: 13px;
	}
	
	.log-out-button.clear-filter-button{
		background-color: #e61111;
	}

	.no-client-found{
		padding-top: 20px;
		text-align:center;
		font-weight: bold;
	}
	
	.list-header .col{
  	font-size: 16px;
	}
	
	.label{
    margin: 6px 8px 6px 0!important;
	}
	
	.list-header{
		padding-left:0!important;
	}
	
	.custom-list button{
		padding-left:0!important;
	}
	
	.custom-list .col{
	  text-overflow: ellipsis;
	  overflow: hidden;
	  color: #585858;
	  font-size: 16px;
	}
	.back-button{
		color:black!important;
	}	
	.grid .row ion-col.col{
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.grid{
		padding-left: 0;
	}
	.item{
		font-size: 1.4rem!important;
		padding-left: 0;
	}
	.item-inner{
		padding-right: 0!important;
	}
	.container-clients{
		padding:10px;
	}
	.no-client-found{
		padding-top: 20px;
		text-align:center;
		font-weight: bold;
	}
	.right-column{
		text-align:right;
	}
	.segment-button{
		padding: 5px 0!important;
		height: 40px!important;
		border-color: rgb(0, 159, 227)!important;
		border-radius: 0!important;
		color: rgb(0, 159, 227)!important;
	}
	.segment-button.segment-activated{
		background-color: rgb(0, 159, 227)!important;
		color: white!important;
	}
	
	ion-textarea{
		background-color: white!important;
	}
	
	ion-textarea .text-input{
	  height: 100px!important;
	}
	.error-form {
    padding-bottom: 10px;
	  color: #d22525;
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.align-center{
		text-align: center;
	}
	
	.filter-list{
	  padding-top: 10px;
	}
	
	.filter-list .row{
		margin: 3px 0;
	}
	
	.filter-list .row .row{
		margin: 0;
	}
	
	.filter-list .bold-text{
		font-weight: bold;
	}
	
	.filter-list .item-inner{
		border-bottom: 0;
	}
	
	.filter-list .text-input{
		margin: 0!important;
	}
	
	.filter-list .datetime{
  	position: relative;
    padding: 0!important;
	}
	

	.filter-list .select-item{
	    display: block;
	}
	
	.filter-list .select-item .label{
		color: black;
		font-weight: bold;
	}
	
	.filter-list .select-item .item-inner{
		border-bottom: 0;
		display: block;
	}
	
	.filter-list .select-item .item-inner .input-wrapper{
	  display: block;
	  width: 100%;
	}
	
	.filter-list .select-item .item-inner .input-wrapper .select{
    position: initial;
    height: 30px;
    padding: 0 4px 0 2px;
    width: 100%;
    max-width: 50%;
	}
	
	.filter-list .col{
		padding: 2px 5px!important;
	}

	.filter-list .col .col{
		padding: 0 5px!important;
	}
	
	.input .text-input::-moz-placeholder {
    font-style: italic;
	}

	.input .text-input:-ms-input-placeholder {
    font-style: italic;
	}

	.input .text-input::-webkit-input-placeholder {
    font-style: italic;
	}
	form .label{
    font-style: italic;
	}
	
	form .new-list{
		background-color: #03bd03!important;
		color: white!important;
	}
	
	form .container-button-form{
		margin-top: 20px;
	}
	
	form .container-button-form .button{
		width: 48%;
		float:left;
	}
	
	form .container-button-form .close-button{
		background-color: black;
		color: white;
		margin-right:2%;
	}
	
	form .container-button-form .new-list{
		background-color: black;
		color: white;
		margin-left:2%;
	}
	
	.segment-button.segment-activated.nuova-lista{
		background-color: #03bd03!important;
		color: white!important;
	}
	.nuova-lista{
		border-color: #03bd03!important;
		color: #03bd03!important;
	}
	
	
	/* --- SISTEMAZIONI ANDROID --- */
	.list-header-md{
		border-top: 0!important;
    border-bottom: 1px solid #dedede!important;    
		margin-bottom: 0;
	}
	.list-header-md .col{
	  font-weight: bold;
		color: black;
	}
	.list-md .grid{
		padding-top:0;
	}
	.label-md{
    margin: 7px 8px 7px 0;
	}
	
	.content-md .filter-list .date-filter .col{
		padding-top:0;
	}
	
	.content-md .filter-list .date-filter .col .col{
  	padding-top: 3px;
	}

	.segment-md .segment-button{
    line-height: 31px!important;
	}
}
