<ion-header>
  <ion-navbar>
    <ion-title *ngIf="showStaticPart">
      UNITÀ DI MISURA
      <br>
      <span class="border"></span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

	<!-- FILTRO LISTE -->
	<ion-segment [(ngModel)]="cambioFunzionalita" *ngIf="showStaticPart">
    <ion-segment-button value="dettagli">
      ELENCO
    </ion-segment-button>
		<ion-segment-button value="nuova-misura" class="nuova-misura">
      NUOVA
    </ion-segment-button>
  </ion-segment>
	
	<div *ngIf="showStaticPart" [ngSwitch]="cambioFunzionalita" class="container-clients">
		<div *ngSwitchCase="'dettagli'">
			<div *ngIf="showMeasure && showStaticPart">
				<ion-list>
			    <ion-list-header>
						<ion-grid>
							<ion-row>
					    	<ion-col col-12>
			      			Nome
								</ion-col>
							</ion-row>
						</ion-grid>
			    </ion-list-header>
					<ion-grid class="custom-list">
					  <div ion-item *ngFor="let m of measure" (click)="openMeasure(m.ID,m.Nome,m.Predefinita)">
							<ion-row>
					    	<ion-col col-12>
			      			{{m.Nome}}
								</ion-col>
							</ion-row>
					  </div>  
					</ion-grid>
				</ion-list>
			</div>
	
			<p class="no-client-found" *ngIf="!showMeasure && showStaticPart">
				NESSUNA MISURA TROVATA
			</p>
		</div>
		<div *ngSwitchCase="'nuova-misura'">
			<form [formGroup]="newMeasureForm">
	      <ion-item>
				  <ion-label floating>Nome</ion-label>
	        <ion-input type="text" maxlength="3" formControlName="nome" name="nome"></ion-input>
	      </ion-item>
		
				<ion-item *ngIf="!newMeasureForm.controls.nome.valid  && (newMeasureForm.controls.nome.dirty || submitAttempt)">
	        <p class="error-form">Unità di misura assente.</p>
	      </ion-item>
				
				<ion-item class="select-item">
				  <ion-label floating>Prioritaria</ion-label>
				  <ion-select formControlName="predefinita" name="predefinita" [(ngModel)]="predefinitaFormMisura">
				    <ion-option value="0">NO</ion-option>
				    <ion-option value="1">SI</ion-option>
				  </ion-select>
				</ion-item>
				
				<ion-item *ngIf="!newMeasureForm.controls.predefinita.valid  && (newMeasureForm.controls.predefinita.dirty || submitAttempt)">
          <p class="error-form">Seleziona se la lista è predefinita o no.</p>
        </ion-item>
				
				<div class="container-button-form">
					<button ion-button full class="button-small close-button" (click)="showDetailMeasure()">ANNULLA</button>
					<button ion-button full color="primary" class="new-list" (click)="newMeasureFormAction()">CREA</button>
				</div>
			</form>
		</div>
	</div>
</ion-content>
