<ion-header>
  <ion-toolbar>
    <ion-title>
      UTENTI
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios">Chiudi</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<!-- FILTRO UTENTI -->
	<ion-segment [(ngModel)]="cambioFunzionalita">
    <ion-segment-button value="utente">
      DETTAGLI
    </ion-segment-button>
    <ion-segment-button value="modifica-utente">
      MODIFICA
    </ion-segment-button>
  </ion-segment>
	
	<div *ngIf="showStaticPart" [ngSwitch]="cambioFunzionalita" class="container-clients" >
		<div *ngSwitchCase="'utente'">
		  <ion-list>
				<ion-grid>
					<div *ngFor="let item of user[0]['items']">
				    <ion-item *ngIf="item.note">
						  <ion-row *ngIf="item.title == 'Ruolo'">
								<ion-col col-5 class="left-column">
				        	{{item.title}}
								</ion-col>
								<ion-col col-7 class="right-column align-left">
				          {{getRoleText(item.note)}}
								</ion-col>
						  </ion-row>
						  <ion-row *ngIf="item.title == 'Stato'">
								<ion-col col-5 class="left-column">
				        	{{item.title}}
								</ion-col>
								<ion-col col-7 class="right-column align-left">
				          <span *ngIf="item.note == 1">Attivo</span><span *ngIf="item.note != 1">Non attivo</span>
								</ion-col>
						  </ion-row>
						  <ion-row *ngIf="item.title != 'Ruolo' && item.title != 'Stato'">
								<ion-col col-5 class="left-column">
				        	{{item.title}}
								</ion-col>
								<ion-col col-7 class="right-column align-left">
				          {{item.note}}
								</ion-col>
						  </ion-row>
				    </ion-item>
					</div>
				</ion-grid>
		  </ion-list>
			<button ion-button class="button-small close-button" (click)="dismiss()">CHIUDI</button>
			<div *ngIf="!isMyUser">
				<button ion-button class="delete button-small" (click)="showConfirmAction()">ELIMINA</button>
			</div>
		</div>
	
		<ion-list *ngSwitchCase="'modifica-utente'">
			<form [formGroup]="modifyUserForm">
				
				<ion-item class="select-item">
				  <ion-label floating>Stato</ion-label>
				  <ion-select formControlName="stato" name="stato">
				    <ion-option value="1">Attivo</ion-option>
				    <ion-option value="0">Non attivo</ion-option>
				  </ion-select>
				</ion-item>
				
	      <ion-item>
				  <ion-label floating>Nome</ion-label>
	        <ion-input type="text" formControlName="nome" name="nome"></ion-input>
	      </ion-item>
			
				<ion-item *ngIf="!modifyUserForm.controls.nome.valid  && (modifyUserForm.controls.nome.dirty || submitAttempt)">
	        <p class="error-form">Inserisci il nome.</p>
	      </ion-item>
			
	      <ion-item>
				  <ion-label floating>Cognome</ion-label>
	        <ion-input type="text" formControlName="cognome" name="cognome"></ion-input>
	      </ion-item>
			
				<ion-item *ngIf="!modifyUserForm.controls.cognome.valid  && (modifyUserForm.controls.cognome.dirty || submitAttempt)">
	        <p class="error-form">Inserisci il cognome.</p>
	      </ion-item>
			
	      <ion-item>
				  <ion-label floating>Nome Utente</ion-label>
	        <ion-input type="text" formControlName="nomeUtente" name="nomeUtente"></ion-input>
	      </ion-item>
			
				<ion-item *ngIf="!modifyUserForm.controls.nomeUtente.valid  && (modifyUserForm.controls.nomeUtente.dirty || submitAttempt)">
	        <p class="error-form">Inserisci il nome utente.</p>
	      </ion-item>
			
	      <ion-item>
				  <ion-label floating>Password (lasciare vuoto per non modificarla)</ion-label>
	        <ion-input type="password" formControlName="password" name="password"></ion-input>
	      </ion-item>
			
				<ion-item *ngIf="!modifyUserForm.controls.password.valid  && (modifyUserForm.controls.password.dirty || submitAttempt)">
	        <p class="error-form">Inserisci la password di almeno 8 caratteri.</p>
	      </ion-item>
			
				<ion-item class="select-item">
				  <ion-label floating>Ruolo</ion-label>
				  <ion-select formControlName="ruolo" name="ruolo">
				    <ion-option value="2">Impiegato</ion-option>
				    <ion-option value="1">Amministratore</ion-option>
				  </ion-select>
				</ion-item>
			
				<ion-item *ngIf="!modifyUserForm.controls.ruolo.valid  && (modifyUserForm.controls.ruolo.dirty || submitAttempt)">
	        <p class="error-form">Seleziona il ruolo.</p>
	      </ion-item>
			
				<ion-item *ngIf="!modifyUserForm.controls.stato.valid  && (modifyUserForm.controls.stato.dirty || submitAttempt)">
	        <p class="error-form">Seleziona lo stato.</p>
	      </ion-item>
		
				<button ion-button full class="button-small close-button" (click)="showDetailUser()">ANNULLA</button>
				<button ion-button full color="primary" class="button-small" (click)="modifyUserFormAction()">MODIFICA</button>
			</form>
	  </ion-list>
	</div>
</ion-content>