page-user-detail-modal {
	.item{
		padding-left: 0;
	}
	ion-col{
	  white-space: normal;
    font-size: 15px;
	}
	.left-column{
    font-weight: 700;
	}
	.right-column{
    color: grey;
	}
	
	.delete{
	  background-color: #e61111;
	  border-radius: 0;
	  width: 100%;
		float:left;
	}
	
	.button-small{
		width: 48%;
		float: left;
	}
	
	.close-button{
		background-color: black;
		color: white;
		margin-right:2%;
	}
	
	.container-clients{
		padding:10px;
	}

	.grid .row ion-col.col{
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.grid{
		padding-left: 0;
	}
	.item{
		font-size: 1.4rem!important;
		padding-left: 0;
	}
	
	ion-input, page-user ion-select, page-user ion-textarea{
  	background-color: white!important;
	}

	.error-form {
    padding-bottom: 10px;
	  color: #d22525;
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.swiper-slide {
	  display: block;
	}
	
	.segment-button{
		padding: 5px 0!important;
		height: 40px!important;
		border-color: rgb(0, 159, 227)!important;
		border-radius: 0!important;
		color: rgb(0, 159, 227)!important;
	}
	
	.segment-button.segment-activated{
		background-color: rgb(0, 159, 227)!important;
		color: white!important;
	}

	ion-label, .select-text {
	  margin-left: 10px;
	}

	ion-input, ion-select, ion-textarea {
	  background-color: #f2f2f2;
	  padding: 5px 10px;
	}

	.invalid {
	  border: 1px solid #ea6153;
	}
	
	.select-item{
    margin-bottom: 10px;
	}
	
	.select-item .item-inner{
    border-bottom: none!important;
    padding-right: 0!important;
	}
	
	.select-item ion-select{
	  padding-bottom: 10px;
	  padding-top: 10px;
	  background-color: white;
	  border: 1px solid #dadada;
	  width: 100%;
	  margin-top: 3px;
	}
	
	form .label{
    font-style: italic;
	}
	
	form .button{
		margin-bottom: 20px;
	}
	
	.align-left{
		text-align: left;
	}
	
	/* --- SISTEMAZIONI ANDROID --- */
	.item-md{
    min-height: 0;
		padding-top: 5px;
	}
	.label-md {
	  margin: 0;
	}
	
	.list-md .grid .item-block .item-inner{
    border-bottom: 0;
	}
	.segment-md .segment-button {
	    line-height: 31px !important;
	}
}
