page-list-detail {
	.back-button{
		color:black!important;
	}	

	.log-out-button{
		line-height: 25px;
		background-color: rgba(0, 159, 227, 0.8);
		color: white;
		font-size: 13px;
	}
	
	.no-client-found{
		font-weight: bold;
		text-align: center;
    color: #e61111;
    padding: 10px 0 15px 0;
	}
	.item{
		padding-left: 0;
	}
	ion-col{
	  white-space: normal;
    font-size: 15px;
	}
	.left-column{
    font-weight: 700;
		padding-left: 0;
	}
	.right-column{
		padding-right: 0;
    color: grey;
		text-align:right;
	}
	.align-left{
		text-align:left;
	}
	.align-left-space{
		white-space: pre-line;
	}
	
	.delete{
	  background-color: #e61111;
	  border-radius: 0;
	  width: 100%;
		float:left;
	}
	
	.container-clients{
		padding:10px;
	}

	.grid .row ion-col.col{
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.grid{
		padding-left: 0;
	}
	.item{
		font-size: 1.4rem!important;
		padding-left: 0;
	}
	
	.item-no-border .item-inner{
		border-bottom: none!important;
	}
	
	ion-input, page-user ion-select, page-user ion-textarea{
  	background-color: white!important;
	}
	
	ion-textarea{
		background-color: white!important;
	}
	
	ion-textarea .text-input{
	  height: 100px!important;
	}
	
	.select{
    border-top: 0!important;
    border-left: 0!important;
    border-right: 0!important;
	}

	.error-form {
    padding-bottom: 10px;
	  color: #d22525;
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.swiper-slide {
	  display: block;
	}
	
	.segment-button{
		padding: 5px 0!important;
		height: 40px!important;
		border-color: rgb(0, 159, 227)!important;
		border-radius: 0!important;
		color: rgb(0, 159, 227)!important;
	}
	
	.segment-button.segment-activated{
		background-color: rgb(0, 159, 227)!important;
		color: white!important;
	}

	ion-label, .select-text {
	  margin-left: 10px;
	  margin-right: 10px;
	}

	ion-input, ion-select, ion-textarea {
	  background-color: #f2f2f2;
	  padding: 5px 10px;
	}

	.invalid {
	  border: 1px solid #ea6153;
	}
	
	.select-item{
    margin-bottom: 10px;
	}
	
	.select-item .item-inner{
    border-bottom: none!important;
    padding-right: 0!important;
	}
	
	.select-item ion-select{
	  padding-bottom: 10px;
	  padding-top: 10px;
	  background-color: white;
	  border: 1px solid #dadada;
	  width: 100%;
	  margin-top: 3px;
	}
	.item-inner{
		padding-right: 0!important;
	}
	
	.item-row-product ion-col{
		color: grey;
	}
	
	.item-row-product .label{
    margin: 6px 8px 6px 0;
	}
	
	.custom-form-column{
		float:left;
    padding-right: 0;
	}
	
	.custom-form-column:first-child{
    padding-right: 5px;
    padding-left: 0;
	}
	
	.custom-form-column.measure .select{
    padding: 12px 10px 11px;
		margin: 0;
	}
	
	.custom-form .insert-button{
	  width: 48%;
    margin: 10px 0 20px 2%;
	  float: left;
		background-color: #03bd03!important;
		color: white!important;
	}
	.delete{
	  background-color: #e61111;
	  border-radius: 0;
    width: 48%;
    margin: 10px 2% 20px 0;
		float:left;
	}

	.delete-header-button{
		border-color: #e61111!important;
		color: #e61111!important;
	}
	
	.delete-header-button.segment-activated{
		background-color: #e61111!important;
		color: white!important;
	}
	
	.invia-header-button.segment-button{
    color: #03bd03!important;
    border-color: #03bd03!important;
	}
	
	.invia-header-button.segment-button.segment-activated{
		background-color: #03bd03!important;
		color: white!important;
	}
	
	.remove-white-space{
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
	.button-full-width{
		width:100%;
		margin: 0;
	}
	
	form .label{
    font-style: italic;
	}
	
	.container-button-action .button{
		margin-top:10px;
	}
	
	.container-button-action .close-button{
		background-color: black;
		color: white;
	}
	
	.note-item{
		margin-top:5px;
		padding-top: 10px;
		padding-bottom: 10px;
		border-top: 2px solid #dedede;
		border-bottom: 2px solid #dedede;
	}
	
	.note-item .col{
		padding: 5px 0!important;
	}
	
	.note-item .col:last-child{
    margin-top: -18px;
	}
	
	form .container-button-form{
		margin-top: 20px;
	}
	
	form .container-button-form .button{
		width: 48%;
		float:left;
	}
	
	form .container-button-form .close-button{
		background-color: black;
		color: white;
		margin-right:2%;
	}
	
	form .container-button-form .modify-list{
		color: white;
		margin-left:2%;
	}
	
	.revoke-list-status{
		color: white;
		background-color: orange;
	}
	
	.revoke-list-status.invia-button{
		color: white;		
		background-color: #03bd03!important;
	}
	
	.revoke-list-status.elimina-definitivamente{
		color: white;
		background-color: #e61111;
	}
	
	.item-row-product:nth-child(odd){
    background-color: #f3f3f3;
	}
	
	.item-row-product .col{
    padding: 0;
	}
	
	/* --- SISTEMAZIONI ANDROID --- */
	.item-md{
    min-height: 0;
    margin-bottom: 10px;
	}
	
	.container-clients .grid .item-md {
	    min-height: 0;
	    margin-bottom: 0px;
	}
	
	.label-md {
	  margin: 0;
	}
	
	.list-md .grid .item-block .item-inner{
    border-bottom: 0;
	}
	.segment-md .segment-button{
    line-height: 31px!important;
	}
}
