<ion-header>
  <ion-navbar>
    <ion-title *ngIf="showStaticPart">
      LISTA N° {{listID}}
      <br>
      <span class="border"></span>
    </ion-title>
		<ion-buttons end *ngIf="userRole == 2 && cambioFunzionalita == 'dettagli' && !showDetailListButton" (click)="showDetailListAction()">
			<button class="log-out-button" >
				Dettagli
			</button>
		</ion-buttons>
		<ion-buttons end *ngIf="userRole == 2 && cambioFunzionalita == 'dettagli' && showDetailListButton" (click)="showDetailListAction()">
			<button class="log-out-button">
				Nascondi
			</button>
		</ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
	<!-- FILTRO LISTE -->
	<ion-segment [(ngModel)]="cambioFunzionalita" *ngIf="statoLista < 2">
    <ion-segment-button value="dettagli">
      DETTAGLI
    </ion-segment-button>
		<ion-segment-button value="modifica-lista">
      MODIFICA
    </ion-segment-button>
		<ion-segment-button class="delete-header-button" (click)="showConfirmChangeStatusList(3,null)" *ngIf="statoLista < 2">
      CANCELLA
    </ion-segment-button>
		<ion-segment-button class="invia-header-button" (click)="showConfirmChangeStatusList(1,null)" *ngIf="statoLista == 0">
      INVIA
    </ion-segment-button>
		<ion-segment-button class="invia-header-button" (click)="showConfirmChangeStatusList(2,null)" *ngIf="statoLista == 1">
      PAGATA	
    </ion-segment-button>
  </ion-segment>
	
	<div *ngIf="showStaticPart" [ngSwitch]="cambioFunzionalita" class="container-clients">
		<div *ngSwitchCase="'dettagli'">
			<ion-list>
				<ion-grid>
					<div *ngIf="showDetailListButton">
				    <ion-item>
						  <ion-row>
								<ion-col col-4 class="left-column">
				        	Utente
								</ion-col>
								<ion-col col-8 class="right-column align-left">
				          {{listNomeUtente}} {{listCognomeUtente}}
								</ion-col>
						  </ion-row>
				    </ion-item>
				    <ion-item>
						  <ion-row>
								<ion-col col-4 class="left-column">
				        	Data
								</ion-col>
								<ion-col col-8 class="right-column align-left">
				          {{listData}}
								</ion-col>
						  </ion-row>
				    </ion-item>
				    <ion-item>
						  <ion-row>
								<ion-col col-4 class="left-column">
				        	Cliente
								</ion-col>
								<ion-col col-8 class="right-column align-left">
				          {{listNomeCliente}}
								</ion-col>
						  </ion-row>
				    </ion-item>
						<!--> RIMOSSO PAGAMENTO COME RICHIESTO DAL CLIENTE
				    <ion-item>
						  <ion-row>
								<ion-col col-4 class="left-column">
				        	Pagamento
								</ion-col>
								<ion-col col-8 class="right-column align-left">
				          <span *ngIf="listPagamento == 'F'">Fattura</span><span *ngIf="listPagamento == 'S'">Scontrino</span>
								</ion-col>
						  </ion-row>
				    </ion-item>
						-->
				    <ion-item>
						  <ion-row>
								<ion-col col-4 class="left-column">
				        	Targa
								</ion-col>
								<ion-col col-8 class="right-column align-left" *ngIf="listTarga">
				          {{listTarga}}
								</ion-col>
								<ion-col col-8 class="right-column align-left" style="font-style: italic;" *ngIf="!listTarga">
				          non inserita
								</ion-col>
						  </ion-row>
				    </ion-item>
					</div>
			    <ion-item class="item-no-border" *ngIf="userRole > 1 || showFormRowList">
					  <ion-row>
							<ion-col col-12 class="left-column remove-white-space">
			        	Dati Articolo
							</ion-col>
					  </ion-row>
			    </ion-item>
				  <ion-row  *ngIf="statoLista < 2 && (userRole > 1 || showFormRowList)">
						<form [formGroup]="addRowForm" class="custom-form">
							<ion-col class="custom-form-column" col-6>
					      <ion-item style="display:none">
					        <ion-input type="hidden" value="{{rowID}}" [(ngModel)]="rowID" formControlName="id" name="id"></ion-input>
					      </ion-item>
					      <ion-item>
								  <ion-label floating>Descrizione</ion-label>
					        <ion-input type="text" value="{{rowProdotto}}" [(ngModel)]="rowProdotto" formControlName="prodotto" name="prodotto"></ion-input>
					      </ion-item>
							</ion-col>
							<ion-col class="custom-form-column measure" col-3>
								<ion-item class="select-item">
								  <ion-label floating>UdM</ion-label>
								  <ion-select formControlName="measure" name="measure" [(ngModel)]="rowMeasure">
								    <ion-option *ngIf="rowMeasure" value="{{rowMeasure}}">{{rowMeasure}}</ion-option>
										<span *ngFor="let m of measure">
									    <ion-option *ngIf="rowMeasure != m.Nome" value="{{m.Nome}}">{{m.Nome}}</ion-option>
										</span>
								  </ion-select>
								</ion-item>
							</ion-col>
							<ion-col class="custom-form-column" col-3>
					      <ion-item>
								  <ion-label floating>Quantità</ion-label>
					        <ion-input type="number" value="{{rowQuantita}}" [(ngModel)]="rowQuantita" formControlName="quantita" name="quantita"></ion-input>
					      </ion-item>
							</ion-col>

							<ion-col class="custom-form-column" col-12>
							
								<ion-item *ngIf="!addRowForm.controls.prodotto.valid  && submitAttemptAddRowForm">
					        <p class="error-form">Manca il nome del prodotto.</p>
					      </ion-item>
							
								<ion-item *ngIf="!addRowForm.controls.measure.valid  && submitAttemptAddRowForm">
				          <p class="error-form">Manca l'unità di misura.</p>
				        </ion-item>
								
								<ion-item *ngIf="!addRowForm.controls.quantita.valid  && submitAttemptAddRowForm">
					        <p class="error-form">Manca la quantità del prodotto.</p>
					      </ion-item>
								<ion-item *ngIf="addRowForm.value.quantita && addRowForm.value.quantita <= 0 && submitAttemptAddRowForm">
					        <p class="error-form">La quantità deve essere magggiore di zero.</p>
					      </ion-item>
							</ion-col>
							<button ion-button class="delete" color="primary" (click)="removeRowFormAction()">ELIMINA</button>
							<button ion-button full color="primary" class="insert-button" (click)="addRowFormAction()">INSERISCI</button>
						</form>
					</ion-row>
					
			    <ion-item class="item-no-border">
					  <ion-row>
							<ion-col col-12 class="left-column" *ngIf="rowsNumber == 1 || rowsNumber == 0">
			        	Elenco Articoli
							</ion-col>
							<ion-col col-12 class="left-column" *ngIf="rowsNumber > 1">
			        	Elenco dei {{rowsNumber}} articoli inseriti (totale: {{getNumberRowsArticle()}} pezzi)
							</ion-col>
					  </ion-row>
			    </ion-item>
					
					<ion-item *ngIf="!showRow && showStaticPart">
					  <ion-row>
							<ion-col col-12 class="right-column">
								<p class="no-client-found">
									NESSUN ARTICOLO INSERITO
								</p>
							</ion-col>
					  </ion-row>
			    </ion-item>
					<div *ngIf="showRow && showStaticPart">
				    <ion-item *ngFor="let item of listRowDetail; let i = index;" class="item-row-product" (click)="insertRowValue(item.ID,item.Prodotto,item.Numero,item.UnitOfMeasure)">
						  <ion-row>
								<ion-col col-1 class="left-column" *ngIf="i < 10">
				        	0{{i + 1}})
								</ion-col>
								<ion-col col-1 class="left-column" *ngIf="i >= 10">
				        	{{i + 1}})
								</ion-col>
								<ion-col col-7 class="left-column">
				        	{{item.Prodotto}}
								</ion-col>
								<ion-col col-2 class="right-column">
				        	{{item.UnitOfMeasure}}
								</ion-col>
								<ion-col col-2 class="right-column">
				          {{item.Numero}}
								</ion-col>
						  </ion-row>
				    </ion-item>
					</div>
			    <ion-item class="note-item">
					  <ion-row>
							<ion-col col-12 class="left-column">
			        	Note
							</ion-col>
							<ion-col col-12 class="right-column align-left align-left-space">
			          <span *ngIf="listNote">{{listNote}}</span><span style="font-style: italic" *ngIf="!listNote">non inserite</span>
							</ion-col>
					  </ion-row>
			    </ion-item>
				</ion-grid>
		  </ion-list>

			<div class="container-button-action">
				<button ion-button full color="primary" class="revoke-list-status invia-button" (click)="showConfirmChangeStatusList(2,null)" *ngIf="statoLista == 1">IMPOSTA LISTA PAGATA</button>
				
				<button ion-button full color="primary" *ngIf="statoLista < 2 && userRole <= 1 && !showFormRowList" (click)="showAdministratorModifyRow(1)">MOSTRA INSERIMENTO ARTICOLI</button>
				<button ion-button full color="primary" class="button-full-width" *ngIf="statoLista < 2 && userRole <= 1 && showFormRowList" (click)="showAdministratorModifyRow(0)">NASCONDI INSERIMENTO ARTICOLI</button>
				<button ion-button full class="close-button" (click)="returnListsPage()">TORNA ALL'ELENCO DELLE LISTE</button>
				
				<button ion-button full color="primary" class="revoke-list-status" (click)="showConfirmChangeStatusListConfirm(1,'cancellato')"  *ngIf="statoLista == 3">ANNULLA LA CANCELLAZIONE DELLA LISTA</button>
				<button ion-button full color="primary" class="revoke-list-status elimina-definitivamente" (click)="showConfirmChangeStatusListConfirm(4,'cancellato-definitivamenre')"  *ngIf="statoLista == 3">ELIMINA DEFINITIVAMENTE</button>
				<button ion-button full color="primary" class="revoke-list-status" (click)="showConfirmChangeStatusListConfirm(1,'pagata')"  *ngIf="statoLista == 2">ANNULLA IL PAGAMENTO DELLA LISTA</button>
				<button ion-button full color="primary" class="revoke-list-status" (click)="showConfirmChangeStatusListConfirm(0,'inviata')"  *ngIf="statoLista == 1">ANNULLA L'INVIO DELLA LISTA</button>
			</div>
		</div>
			
		<ion-list *ngSwitchCase="'modifica-lista'">
			<form [formGroup]="modifyListForm">
	      <ion-item>
				  <ion-label floating>Cliente</ion-label>
	        <ion-input type="text" formControlName="nomeCliente" name="nomeCliente"></ion-input>
	      </ion-item>
			
				<ion-item *ngIf="!modifyListForm.controls.nomeCliente.valid  && (modifyListForm.controls.nomeCliente.dirty || submitAttempt)">
	        <p class="error-form">Inserisci il nome del cliente.</p>
	      </ion-item>
				<!--> RIMOSSO PAGAMENTO COME RICHIESTO DAL CLIENTE
				<ion-item class="select-item">
				  <ion-label floating>Pagamento</ion-label>
				  <ion-select formControlName="pagamaneto" name="pagamaneto">
				    <ion-option value="S">Scontrino</ion-option>
				    <ion-option value="F">Fattura</ion-option>
				  </ion-select>
				</ion-item>
				
				<ion-item *ngIf="!modifyListForm.controls.pagamaneto.valid  && (modifyListForm.controls.pagamaneto.dirty || submitAttempt)">
          <p class="error-form">Seleziona il metodo di pagamento.</p>
        </ion-item>
				-->
	      <ion-item>
				  <ion-label floating>Targa</ion-label>
	        <ion-input type="text" formControlName="targa" name="targa"></ion-input>
	      </ion-item>
			
	      <ion-item>
				  <ion-label floating>Note</ion-label>
	        <ion-textarea type="text" formControlName="note" name="note"></ion-textarea>
	      </ion-item>

				<div class="container-button-form">
					<button ion-button full class="button-small close-button" (click)="showDetailList()">ANNULLA</button>
					<button ion-button full color="primary" class="modify-list" (click)="modifyListFormAction()">MODIFICA</button>
				</div>
			</form>
	  </ion-list>
	</div>
</ion-content>
