<ion-header>
  <ion-navbar>
    <ion-title *ngIf="showStaticPart">
      <span *ngIf="numberLists > 0">{{numberLists}}</span> LISTE <span *ngIf="statoLista == 0"> APERTE </span><span *ngIf="statoLista == 1"> INVIATE </span><span *ngIf="statoLista == 2"> PAGATE</span><span *ngIf="statoLista == 3"> CANCELLATE</span>
      <br>
      <span class="border"></span>
    </ion-title>
		<ion-buttons end *ngIf="role < 2 && showSearchForm && cambioFunzionalita == 'dettagli'">
			<button class="log-out-button clear-filter-button" (click)="clearFilterForm()">
				Svuota
			</button>
		</ion-buttons>
		<ion-buttons end *ngIf="role < 2 && cambioFunzionalita == 'dettagli'">
			<button class="log-out-button" (click)="activeFilterForm()">
				Filtra
			</button>
		</ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
	<div class="filter-list" *ngIf="showSearchForm && cambioFunzionalita == 'dettagli'">
		<ion-grid>
			<ion-row>
	    	<ion-col col-4 class="bold-text">
					Data: 
				</ion-col>
	    	<ion-col col-8>
					<ion-row>
						<ion-col col-2>
							dal 
						</ion-col>
						<ion-col col-4>
							<ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="searchDataDal" (ionInput)="setFilteredItems()" (ionChange)="setFilteredItems()"></ion-datetime>
						</ion-col>
						<ion-col col-2>
							al 
						</ion-col>
						<ion-col col-4>
							<ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="searchDataAl" (ionInput)="setFilteredItems()" (ionChange)="setFilteredItems()"></ion-datetime>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
			<ion-row>
	    	<ion-col col-4 class="bold-text">
					Cliente: 
				</ion-col>
	    	<ion-col col-8>
					<ion-input type="text" [(ngModel)]="searchTerm" (input)="setFilteredItems()" placeholder="digita qui il nome del cliente"></ion-input>
				</ion-col>
			</ion-row>
			
			<ion-row>
	    	<ion-col col-4 class="bold-text">
					Targa: 
				</ion-col>
				<ion-col col-8>
					<ion-input type="text" [(ngModel)]="searchTarga" (input)="setFilteredItems()" placeholder="digita qui la targa del cliente"></ion-input>
				</ion-col>
			</ion-row>
			<!--> RIMOSSO PAGAMENTO COME RICHIESTO DAL CLIENTE
			<ion-row>
	    	<ion-col col-4 class="bold-text">
					Pagamento: 
				</ion-col>
				<ion-col col-8>
					<ion-item class="select-item">
					  <ion-select [(ngModel)]="searchPagamento" (ionChange)="setFilteredItems()" name="pagamaneto">
					    <ion-option value="qualsiasi">(qualsiasi)</ion-option>
					    <ion-option value="S">Scontrino</ion-option>
					    <ion-option value="F">Fattura</ion-option>
					  </ion-select>
					</ion-item>
				</ion-col>
			</ion-row>
			-->
		</ion-grid>
	</div>

	<!-- FILTRO LISTE -->
	<ion-segment [(ngModel)]="cambioFunzionalita" *ngIf="statoLista < 1">
    <ion-segment-button value="dettagli">
      ELENCO
    </ion-segment-button>
		<ion-segment-button value="nuova-lista" class="nuova-lista">
      NUOVA
    </ion-segment-button>
  </ion-segment>
	
	<div *ngIf="showStaticPart" [ngSwitch]="cambioFunzionalita" class="container-clients">
		<div *ngSwitchCase="'dettagli'">
			<div *ngIf="showList && showStaticPart">
				<ion-list>
			    <ion-list-header>
						<ion-grid>
							<ion-row>
					    	<ion-col col-10>
			      			Cliente
								</ion-col>
					    	<ion-col col-2 class="align-center">
			      			#Art
								</ion-col>
							</ion-row>
						</ion-grid>
			    </ion-list-header>
					<ion-grid class="custom-list">
					  <div ion-item *ngFor="let list of filteredLists" (click)="openList(list.ID,list.NomeCliente,list.Note,list.Targa,list.DateDetailShow,list.Nome,list.Cognome)">
							<ion-row>
					    	<ion-col col-10>
			      			{{list.NomeCliente}} <i>({{list.DateShow}})</i>
								</ion-col>
					    	<ion-col col-2 class="align-center">
			      			{{list.Conteggio}}
								</ion-col>
							</ion-row>
					  </div>  
					</ion-grid>
				</ion-list>
			</div>
	
			<p class="no-client-found" *ngIf="!showList && showStaticPart">
				NESSUNA LISTA TROVATA
			</p>
		</div>
		<div *ngSwitchCase="'nuova-lista'">
			<form [formGroup]="newListForm">
	      <ion-item>
				  <ion-label floating>Cliente</ion-label>
	        <ion-input type="text" formControlName="nomeCliente" name="nomeCliente"></ion-input>
	      </ion-item>
		
				<ion-item *ngIf="!newListForm.controls.nomeCliente.valid  && (newListForm.controls.nomeCliente.dirty || submitAttempt)">
	        <p class="error-form">Inserisci il nome di un cliente.</p>
	      </ion-item>
				<!--> RIMOSSO PAGAMENTO COME RICHIESTO DAL CLIENTE
				<ion-item class="select-item">
				  <ion-label floating>Pagamento</ion-label>
				  <ion-select formControlName="pagamaneto" name="pagamaneto">
				    <ion-option value="S">Scontrino</ion-option>
				    <ion-option value="F">Fattura</ion-option>
				  </ion-select>
				</ion-item>
				<ion-item *ngIf="!newListForm.controls.pagamaneto.valid  && (newListForm.controls.pagamaneto.dirty || submitAttempt)">
          <p class="error-form">Seleziona il metodo di pagamento.</p>
        </ion-item>
				-->
				
	      <ion-item>
				  <ion-label floating>Targa</ion-label>
	        <ion-input type="text" formControlName="targa" name="targa"></ion-input>
	      </ion-item>
		
	      <ion-item>
				  <ion-label floating>Note</ion-label>
	        <ion-textarea type="text" formControlName="note" name="note"></ion-textarea>
	      </ion-item>
				<div class="container-button-form">
					<button ion-button full class="button-small close-button" (click)="showDetailLists()">ANNULLA</button>
					<button ion-button full color="primary" class="new-list" (click)="newListFormAction()">CREA</button>
				</div>
			</form>
		</div>
	</div>
</ion-content>
