page-user {
	.back-button{
		color:black!important;
	}	
	.grid .row ion-col.col{
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.grid{
		padding-left: 0;
	}
	.item{
		font-size: 1.4rem!important;
		padding-left: 0;
	}
	.container-clients{
		padding:10px;
	}
	.no-client-found{
		padding-top: 20px;
		text-align:center;
		font-weight: bold;
	}
	.right-column{
		text-align:right;
	}
	.segment-button{
		padding: 5px 0!important;
		height: 40px!important;
		border-color: rgb(0, 159, 227)!important;
		border-radius: 0!important;
		color: rgb(0, 159, 227)!important;
	}
	.segment-button.segment-activated{
		background-color: rgb(0, 159, 227)!important;
		color: white!important;
	}
	
	ion-input, page-user ion-select, page-user ion-textarea{
  	background-color: white!important;
	}

	.error-form {
    padding-bottom: 10px;
	  color: #d22525;
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.swiper-slide {
	  display: block;
	}

	ion-label, .select-text {
	  margin-left: 10px;
	}

	ion-input, ion-select, ion-textarea {
	  background-color: #f2f2f2;
	  padding: 5px 10px;
	}

	.invalid {
	  border: 1px solid #ea6153;
	}
	
	.select-item{
    margin-bottom: 10px;
	}
	
	.select-item .item-inner{
    border-bottom: none!important;
    padding-right: 0!important;
	}
	
	.select-item ion-select{
	  padding-bottom: 10px;
	  padding-top: 10px;
	  background-color: white;
	  border: 1px solid #dadada;
	  width: 100%;
	  margin-top: 3px;
	}
	
	form .label{
    font-style: italic;
	}
	
	.input .text-input::-moz-placeholder {
    font-style: italic;
	}

	.input .text-input:-ms-input-placeholder {
    font-style: italic;
	}

	.input .text-input::-webkit-input-placeholder {
    font-style: italic;
	}
	
	form .container-button-form{
		margin-top: 20px;
	}
	
	form .container-button-form .button{
		width: 48%;
		float:left;
	}
	
	form .container-button-form .close-button{
		background-color: black;
		color: white;
		margin-right:2%;
	}
	
	form .container-button-form .new-user{
		background-color: black;
		color: white;
		margin-left:2%;
	}
	
	form .new-user{
		background-color: #03bd03!important;
		color: white!important;
	}
	
	.segment-button.segment-activated.nuovo-utente{
		background-color: #03bd03!important;
		color: white!important;
	}
	.nuovo-utente{
		border-color: #03bd03!important;
		color: #03bd03!important;
	}
	
	.user-barrati{
		text-decoration: line-through;
	}
	
	/* --- SISTEMAZIONI ANDROID --- */
	.list-header-md{
		border-top: 0!important;
    border-bottom: 1px solid #dedede!important;    
		margin-bottom: 0;
	}
	.list-header-md .col{
	  font-weight: bold;
		color: black;
	}
	.list-md .grid{
		padding-top:0;
	}
	.label-md{
    margin: 7px 8px 7px 0;
	}
	.segment-md .segment-button{
    line-height: 31px!important;
	}
}
