<ion-header>
  <ion-navbar>
    <ion-title *ngIf="showStaticPart">
      UTENTI
      <br>
      <span class="border"></span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
	<!-- RICERCA 
	<ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()" placeholder="Cerca"></ion-searchbar>
	-->
	
	<!-- FILTRO UTENTI -->
	<ion-segment [(ngModel)]="cambioFunzionalita">
    <ion-segment-button value="utenti">
      ELENCO
    </ion-segment-button>
    <ion-segment-button value="nuovo-utente" class="nuovo-utente">
      NUOVO
    </ion-segment-button>
  </ion-segment>
	
	<div *ngIf="showUsers && showStaticPart" class="container-clients" [ngSwitch]="cambioFunzionalita">
		<ion-list *ngSwitchCase="'utenti'">
	    <ion-list-header>
				<ion-grid>
					<ion-row>
			    	<ion-col col-4>
	      			Nome
						</ion-col>
						<ion-col col-4>
	      			Cognome
						</ion-col>
			    	<ion-col col-4>
	      			Ruolo
						</ion-col>
					</ion-row>
				</ion-grid>
	    </ion-list-header>
			<ion-grid>
		    <ion-item *ngFor="let user of users" (click)="openModal(user.ID, user.Nome, user.Cognome,user.UserName,user.Role,user.Attivo,user.ListeAperte,user.ListeInviate,user.ListePagate,user.ListeEliminate)">
					<ion-row *ngIf="user.Attivo == 1">
			    	<ion-col col-4>{{user.Nome}}</ion-col>
				    <ion-col col-4>{{user.Cognome}}</ion-col>
				    <ion-col col-4>{{getRoleText(user.Role)}}</ion-col>
				  </ion-row>
					<ion-row *ngIf="user.Attivo == 0" class="user-barrati">
			    	<ion-col col-4>{{user.Nome}}</ion-col>
				    <ion-col col-4>{{user.Cognome}}</ion-col>
				    <ion-col col-4>{{getRoleText(user.Role)}}</ion-col>
				  </ion-row>
				</ion-item>
			</ion-grid>
	  </ion-list>
		
		<ion-list *ngSwitchCase="'nuovo-utente'">
			<form [formGroup]="createUserForm">
        <ion-item>
				  <ion-label floating>Nome</ion-label>
          <ion-input type="text" formControlName="nome" name="nome"></ion-input>
        </ion-item>
				
				<ion-item *ngIf="!createUserForm.controls.nome.valid  && (createUserForm.controls.nome.dirty || submitAttempt)">
          <p class="error-form">Inserisci il nome.</p>
        </ion-item>
				
        <ion-item>
				  <ion-label floating>Cognome</ion-label>
          <ion-input type="text" formControlName="cognome" name="cognome"></ion-input>
        </ion-item>
				
				<ion-item *ngIf="!createUserForm.controls.cognome.valid  && (createUserForm.controls.cognome.dirty || submitAttempt)">
          <p class="error-form">Inserisci il cognome.</p>
        </ion-item>
				
        <ion-item>
				  <ion-label floating>Nome Utente per l'accesso all'APP</ion-label>
          <ion-input type="text" formControlName="nomeUtente" name="nomeUtente"></ion-input>
        </ion-item>
				
				<ion-item *ngIf="!createUserForm.controls.nomeUtente.valid  && (createUserForm.controls.nomeUtente.dirty || submitAttempt)">
          <p class="error-form">Inserisci il nome utente.</p>
        </ion-item>
				
        <ion-item>
				  <ion-label floating>Password per l'accesso all'APP</ion-label>
          <ion-input type="password" formControlName="password" name="password"></ion-input>
        </ion-item>
				
				<ion-item *ngIf="!createUserForm.controls.password.valid  && (createUserForm.controls.password.dirty || submitAttempt)">
          <p class="error-form">Inserisci la password di almeno 8 caratteri.</p>
        </ion-item>
				
				<ion-item class="select-item">
				  <ion-label floating>Ruolo</ion-label>
				  <ion-select formControlName="ruolo" name="ruolo">
				    <ion-option value="1">Amministratore</ion-option>
				    <ion-option value="2" selected>Impiegato</ion-option>
				  </ion-select>
				</ion-item>
				
				<ion-item *ngIf="!createUserForm.controls.ruolo.valid  && (createUserForm.controls.ruolo.dirty || submitAttempt)">
          <p class="error-form">Seleziona il ruolo.</p>
        </ion-item>
				<div class="container-button-form">
					<button ion-button full class="button-small close-button" (click)="showDetailUser()">ANNULLA</button>
					<button ion-button full color="primary" class="new-user" (click)="formAction()">CREA</button>
				</div>
			</form>
	  </ion-list>
	</div>
	
	<p class="no-client-found" *ngIf="!showUsers && showStaticPart">
		NESSUN UTENTE TROVATO
	</p>
	
</ion-content>
