<ion-header>
  <ion-navbar>
    <ion-title *ngIf="showStaticPart">
      UNITÀ DI MISURA
      <br>
      <span class="border"></span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
	<!-- FILTRO LISTE -->
	<ion-segment [(ngModel)]="cambioFunzionalita" *ngIf="showStaticPart" >
    <ion-segment-button value="dettagli">
      DETTAGLI
    </ion-segment-button>
		<ion-segment-button value="modifica-lista">
      MODIFICA
    </ion-segment-button>
		<ion-segment-button class="delete-header-button" (click)="showConfirmDeleteMeasure()">
      CANCELLA
    </ion-segment-button>
  </ion-segment>
	
	<div *ngIf="showStaticPart" [ngSwitch]="cambioFunzionalita" class="container-clients">
		<div *ngSwitchCase="'dettagli'">
			<ion-list>
				<ion-grid>
					<div>
				    <ion-item>
						  <ion-row>
								<ion-col col-4 class="left-column">
				        	Nome
								</ion-col>
								<ion-col col-8 class="right-column align-left">
				          {{measureNome}}
								</ion-col>
						  </ion-row>
				    </ion-item>
				    <ion-item>
						  <ion-row>
								<ion-col col-4 class="left-column">
				        	Prioritaria
								</ion-col>
								<ion-col col-8 class="right-column align-left">
				          <span *ngIf="measurePredefinita == 1">SI</span><span *ngIf="measurePredefinita == 0">NO</span>
								</ion-col>
						  </ion-row>
				    </ion-item>
					</div>
			    <ion-item class="item-no-border" *ngIf="userRole > 1 || showFormRowList">
					  <ion-row>
							<ion-col col-12 class="left-column remove-white-space">
			        	Dati Articolo
							</ion-col>
					  </ion-row>
			    </ion-item>
				</ion-grid>
		  </ion-list>
			<div class="container-button-action">
				<button ion-button full class="close-button" (click)="returnMeasurePage()">TORNA ALL'ELENCO DELLE UNITÀ MISURA</button>
				<button ion-button full class="revoke-list-status elimina-definitivamente" (click)="showConfirmDeleteMeasure()">CANCELLA</button>
			</div>
		</div>
			
		<ion-list *ngSwitchCase="'modifica-lista'">
			<form [formGroup]="modifyMeasureForm">
	      <ion-item>
				  <ion-label floating>Nome</ion-label>
	        <ion-input type="text" maxlength="3" formControlName="measureNome" name="measureNome"></ion-input>
	      </ion-item>
			
				<ion-item *ngIf="!modifyMeasureForm.controls.measureNome.valid  && (modifyMeasureForm.controls.measureNome.dirty || submitAttempt)">
	        <p class="error-form">Inserisci il nome.</p>
	      </ion-item>
				
				<ion-item class="select-item">
				  <ion-label floating>Prioritaria</ion-label>
				  <ion-select formControlName="measurePredefinita" name="measurePredefinita">
				    <ion-option value="0">NO</ion-option>
				    <ion-option value="1">SI</ion-option>
				  </ion-select>
				</ion-item>
				
				<ion-item *ngIf="!modifyMeasureForm.controls.measurePredefinita.valid  && (modifyMeasureForm.controls.measurePredefinita.dirty || submitAttempt)">
          <p class="error-form">Seleziona il se l'unità di misura è predefinita.</p>
        </ion-item>

				<div class="container-button-form">
					<button ion-button full class="button-small close-button" (click)="showDetailMeasure()">ANNULLA</button>
					<button ion-button full color="primary" class="modify-list" (click)="modifyMeasureFormAction()">MODIFICA</button>
				</div>
			</form>
	  </ion-list>
	</div>
</ion-content>
