<ion-header>
  <ion-navbar>
    <ion-title>
      MENU PRINCIPALE
      <br>
      <span class="border"></span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
	<ion-grid>
	  <ion-row>
	    <ion-col col-6>
				<button ion-button color="gas" class="link-button liste-aperte" outline (click)="launch('liste',0)" icon-left>
				  <ion-icon ios="ios-list-box-outline" md="md-list-box"></ion-icon> APERTE
				</button>
			</ion-col>
	    <ion-col col-6 *ngIf="role < 2">
				<button ion-button color="gas" class="link-button liste-inviate" outline (click)="launch('liste',1)" icon-left>
				  <ion-icon ios="ios-open-outline" md="md-open"></ion-icon> INVIATE
				</button>
			</ion-col>
	  </ion-row>
		
	  <ion-row *ngIf="role < 2">
	    <ion-col col-6>
				<button ion-button color="gas" class="link-button" outline (click)="launch('liste',2)" icon-left>
				  <ion-icon ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon> PAGATE
				</button>
			</ion-col>
	    <ion-col col-6>
				<button ion-button color="gas" class="link-button liste-eliminate" outline (click)="launch('liste',3)" icon-left>
				  <ion-icon ios="ios-trash-outline" md="md-trash"></ion-icon> CANCELLATE
				</button>
			</ion-col>
	  </ion-row>
	  <ion-row>
	    <ion-col col-6 *ngIf="role < 2">
				<button ion-button color="gas" class="link-button utenti-button" outline (click)="launch('utenti',null)" icon-left>
				  <ion-icon ios="ios-people-outline" md="md-people"></ion-icon> UTENTI
				</button>
			</ion-col>
	    <ion-col col-6 *ngIf="role < 2">
				<button ion-button color="gas" class="link-button utenti-button" outline (click)="launch('measure',null)" icon-left>
				  <ion-icon ios="ios-resize-outline" md="md-resize"></ion-icon> UNITÀ
				</button>
			</ion-col>
	  </ion-row>
	  <ion-row>
	    <ion-col col-6>
				<button ion-button color="gas" class="link-button logout-button" outline (click)="logout()" icon-left>
				  <ion-icon ios="ios-log-out-outline" md="md-log-out"></ion-icon> ESCI
				</button>
			</ion-col>
	  </ion-row>
	</ion-grid>
</ion-content>
