page-area-riservata-menu {
	.log-out-button{
		background-color: #e61111;
		color: white;
		margin:auto;
    width: 50%;
    border-radius: 0;
    height: 60px;
	}
	.link-button{
		width: 100%;
		border-radius: 0;
		height: 60px;
	}
	.link-button .icon{
		font-size: 3.3rem;
		text-align: center;
	}
	
	.liste-aperte{
		border-color: #03bd03;
		color: #03bd03;	
	}

	.liste-inviate{
		border-color: orange;
		color: orange;	
	}
	
	.liste-aperte{
		border-color: #03bd03;
		color: #03bd03;	
	}
	
	.liste-eliminate{
		border-color: #e61111;
		color: #e61111;
	}
	
	.utenti-button{
    border-color: #9817d0;
    color: #9817d0;
	}
	
	.logout-button{
		border-color: black;
		color: black;
	}
}
